.el-tabs__item {
  border-bottom: solid 1px #ddd !important;
}

.el-dialog__header {
  padding-bottom: 0 !important;
  .el-dialog__title {
    font-size: 1rem;
    color: #666;
  }
}
.el-dialog__body {
  padding-top: 10px !important;
}

.el-alert {
  border: solid 1px #dcdcdc !important;
  margin: 5px 0 !important;
}

@screen sm {
  .el-message-box {
    width: 350px;
  }
}
